* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HelloFont', Arial, sans-serif;
    background: #1a9a56; 
    color: white;
    line-height: 1.6;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Header container to align title and icon */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header styling */
header h1 {
    margin-bottom: 10px;
    font-size: 48px;
    color: #1DB954;
    margin-right: 10px; /* Add space between the title and the icon */
}

/* Spotify icon styling */
header .spotify-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 50px;
    height: auto;
}

/* Playlist section */
.playlist {
    margin: 50px auto;
    text-align: center;
    max-width: 1200px;
    padding: 0 20px;
}

.playlist h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    letter-spacing: 2px;
}

/* Track container */
.track-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Styling each track */
.track {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 280px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for each track */
.track:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
}

/* Track description */
.track p {
    margin-top: 10px;
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 400;
}

/* Footer */
footer {
    background-color: #000000;
    text-align: center;
    padding: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
    color: #f1f1f1;
}
