* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HelloFont', Arial, sans-serif;
    background: linear-gradient(to bottom right, #1DB954, #191414);
    color: white;
    line-height: 1.6;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin-bottom: 10px;
    font-size: 48px;
    color: #1DB954;
}

header p {
    font-size: 18px;
    font-weight: 300;
}

.playlist {
    margin: 50px auto;
    text-align: center;
    max-width: 1200px;
    padding: 0 20px;
}

.playlist h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    letter-spacing: 2px;
}

.track-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.track {
    background: rgba(0, 0, 0, 0.9);  /* Darker background for track containers */
    padding: 20px;
    border-radius: 16px;  /* Softer, rounder corners */
    text-align: center;
    width: 280px;  /* Reduced width for a more compact look */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);  /* Softer, more defined shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.track:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);  /* Enhanced shadow on hover */
}

.track p {
    margin-top: 10px;
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 400;
}

footer {
    background-color: #191414;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
    color: #f1f1f1;
}
